In [1]:
def my_function():
    print("Hello from a function")

In [2]:
my_function()

Hello from a function

In [7]:
def my_function(fname):
    print(fname+" Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [9]:
#Arbitary Arguments,*args
def my_function(*kids):
    print(kids)
    for i in kids:
        print(i)
my_function("Emil","Tobias","Linus")

('Emil', 'Tobias', 'Linus')
Emil
Tobias
Linus

In [11]:
#Keyword Argument
def my_function(child3,child2,child1):
    print("The youngest child is "+child3)
my_function(child1="Emil",child2="Tobias",child3="Linus")

The youngest child is Linus

In [15]:
#default parameter
def my_function(country="Norway"):
    print("I am from "+country)
my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [16]:
#passing a list as an argument
def my_function(food):
    for x in food:
        print(x)

In [17]:
fruits=["apple","banana","cherry"]
my_function(fruits)

apple
banana
cherry

In [18]:
#return values
def my_function(x):
    return 5*x

In [19]:
print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [20]:
#cube of given numbers
def cube(x):
    return x*x*x

In [21]:
print(cube(7))

343

In [26]:
#recursive functions in python
#factorial
def fact(a):
    if a==1:
        return 1
    else:
        return a*fact(a-1)

In [28]:
x=int(input("asdf"))
fact(x)

asdf 12

479001600

In [35]:
def swap(x,y):
    temp=x
    x=y
    y=temp
    return x,y

In [36]:
x=2
y=3
swap(x,y)
print(x)
print(y)

2
3

In [37]:
print(swap(x,y))

(3, 2)